In [1]:
import csv
import random
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pytz
from pytz import all_timezones

In [2]:
folder = "./ASEAN_2013D"
movements_2013_1 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2013D_Jan_Mar_JobId2080915.csv", sep = ",", header = 0)
movements_2013_2 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2013D_Apr_Jun_JobId2080918.csv", sep = ",", header = 0)
movements_2013_3 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2013D_Jul_Sep_JobId2080920.csv", sep = ",", header = 0)
movements_2013_4 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2013D_Oct_Dec_JobId2081503.csv", sep = ",", header = 0)
movements_2013 = pd.concat([movements_2013_1, movements_2013_2, movements_2013_3, movements_2013_4])

folder = "./ASEAN_2014D"
movements_2014_1 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2014D_Jan_Mar_JobId2081507.csv", sep = ",", header = 0)
movements_2014_2 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2014D_Apr_Jun_JobId2081508.csv", sep = ",", header = 0)
movements_2014_3 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2014D_Jul_Sep_JobId2081509.csv", sep = ",", header = 0)
movements_2014_4 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2014D_Oct_Dec_JobId2081510.csv", sep = ",", header = 0)
movements_2014 = pd.concat([movements_2014_1, movements_2014_2, movements_2014_3, movements_2014_4])

folder = "./ASEAN_2015D"
movements_2015_1 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2015D_Jan_Mar_JobId2081511.csv", sep = ",", header = 0)
movements_2015_2 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2015D_Apr_Jun_JobId2081512.csv", sep = ",", header = 0)
movements_2015_3 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2015D_Jul_Sep_JobId2081513.csv", sep = ",", header = 0)
movements_2015_4 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2015D_Oct_Dec_JobId2081514.csv", sep = ",", header = 0)
movements_2015 = pd.concat([movements_2015_1, movements_2015_2, movements_2015_3, movements_2015_4])

folder = "./ASEAN_2016D"
movements_2016_1 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2016D_Jan_Mar_JobId2081515.csv", sep = ",", header = 0)
movements_2016_2 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2016D_Apr_Jun_JobId2081516.csv", sep = ",", header = 0)
movements_2016_3 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2016D_Jul_Sep_JobId2081517.csv", sep = ",", header = 0)
movements_2016_4 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2016D_Oct_Dec_JobId2081518.csv", sep = ",", header = 0)
movements_2016 = pd.concat([movements_2016_1, movements_2016_2, movements_2016_3, movements_2016_4])

folder = "./ASEAN_2017D"
movements_2017_1 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2017D_Jan_Mar_JobId2081519.csv", sep = ",", header = 0)
movements_2017_2 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2017D_Apr_Jun_JobId2081520.csv", sep = ",", header = 0)
movements_2017_3 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2017D_Jul_Sep_JobId2081523.csv", sep = ",", header = 0)
movements_2017_4 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2017D_Oct_Dec_JobId2081524.csv", sep = ",", header = 0)
movements_2017 = pd.concat([movements_2017_1, movements_2017_2, movements_2017_3, movements_2017_4])

folder = "./ASEAN_2018D"
movements_2018_1 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2018D_Jan_Mar_JobId2081527.csv", sep = ",", header = 0)
movements_2018_2 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2018D_Apr_Jun_JobId2081525.csv", sep = ",", header = 0)
movements_2018_3 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2018D_Jul_Sep_JobId2081528.csv", sep = ",", header = 0)
movements_2018_4 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2018D_Oct_Dec_JobId2081529.csv", sep = ",", header = 0)
movements_2018 = pd.concat([movements_2018_1, movements_2018_2, movements_2018_3, movements_2018_4])

folder = "./ASEAN_2019D"
movements_2019_1 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2019D_Jan_Mar_JobId2082476.csv", sep = ",", header = 0)
movements_2019_2 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2019D_Apr_Jun_JobId2081531.csv", sep = ",", header = 0)
movements_2019_3 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2019D_Jul_Sep_JobId2081532.csv", sep = ",", header = 0)
movements_2019_4 = pd.read_csv(filepath_or_buffer = folder + "/ASEAN_2019D_Oct_Dec_JobId2082477.csv", sep = ",", header = 0)
movements_2019 = pd.concat([movements_2019_1, movements_2019_2, movements_2019_3, movements_2019_4])

movements_all = pd.concat([movements_2013, movements_2014, movements_2015, movements_2016, movements_2017, movements_2018, movements_2019])

In [3]:
def dep_value(s):
    if s == 'SIN':
        return 1
    else:
        return 0
    
def arr_value(s):
    if s == 'SIN':
        return 1
    else:
        return 0

In [4]:
def dep_or_arr_time(dep, dep_time, arr_time):
    if dep == 1:
        return dep_time
    else:
        return arr_time

In [5]:
def f(s):
    return "".join(["0"]*(4-len(s))) + s

In [6]:
def utc(datetime):
    local = pytz.timezone("Asia/Singapore")
    local_dt = local.localize(datetime, is_dst=None)
    return local_dt.astimezone(pytz.utc)

In [7]:
def day_of_week(s):
    return s.weekday()

In [8]:
def requested_utc_hour(s):
    return s.hour

def requested_utc_minute(s):
    if s.minute == 0:
        return "00"
    elif s.minute == 5:
        return "05"
    else:
        return s.minute

In [9]:
movements_Dep_SIN = movements_all.loc[movements_all['Dep Airport Code'] == 'SIN']
movements_Arr_SIN = movements_all.loc[movements_all['Arr Airport Code'] == 'SIN']
movements_SIN = pd.concat([movements_Dep_SIN, movements_Arr_SIN])

In [10]:
movements_SIN['Dep'] = 0
movements_SIN['Arr'] = 0

movements_SIN['Dep'] = movements_SIN['Dep Airport Code'].apply(dep_value)
movements_SIN['Arr'] = movements_SIN['Arr Airport Code'].apply(arr_value)

In [11]:
movements_SIN['Time_requested'] = movements_SIN[['Dep', 'Local Dep Time', 'Local Arr Time']].apply(lambda x: dep_or_arr_time(*x), axis=1)
movements_SIN = movements_SIN.drop(['Dep Airport Code', 'Arr Airport Code'], 1)

In [12]:
movements_SIN['Time_requested_format4'] = movements_SIN['Time_requested'].astype(str).apply(f)
movements_SIN['Time_requested_TS'] = movements_SIN['Time series'] + '-' + movements_SIN['Time_requested_format4']
movements_SIN['TS_datetime_format'] = pd.to_datetime(movements_SIN['Time_requested_TS'], format = '%Y-%m-%d-%H%M')

In [13]:
movements_SIN['Time_requested_UTC'] = movements_SIN['TS_datetime_format'].apply(utc)

In [14]:
movements_SIN['day_of_week'] = movements_SIN['Time_requested_UTC'].apply(day_of_week)
movements_SIN['Time_series_DT'] = pd.to_datetime(movements_SIN['Time_requested_UTC']).dt.date

In [15]:
# sort by date
movements_SIN.sort_values(by=['Time_series_DT'], inplace=True)

In [16]:
movements_SIN['requested_utc_hour'] = movements_SIN['Time_requested_UTC'].apply(requested_utc_hour)
movements_SIN['requested_utc_minute'] = movements_SIN['Time_requested_UTC'].apply(requested_utc_minute)
movements_SIN['requested_utc'] = movements_SIN['requested_utc_hour'].apply(str) + movements_SIN['requested_utc_minute'].apply(str)
movements_SIN['requested_utc'] = movements_SIN['requested_utc'].astype(int)

In [17]:
time_slots = []
h = 0
m = 0
while h < 2400:
    while m < 60:
        time_slots.append(h + m)
        m = m + 5
    m = 0
    h = h + 100
    #print(i)
time_slots.append(2400)
#print(len(time_slots))
#time_slots

In [18]:
movements_SIN['Time slot'] = pd.cut(movements_SIN['requested_utc'], time_slots, right=False)

In [19]:
movements_SIN

,Dep Airport Name,Arr Airport Name,ICAO AL,IATA AL,Flight No,Carrier Code,Carrier Name,Dep IATA Country Name,Arr IATA Country Name,International/Domestic,...,Time_requested_format4,Time_requested_TS,TS_datetime_format,Time_requested_UTC,day_of_week,Time_series_DT,requested_utc_hour,requested_utc_minute,requested_utc,Time slot
534188,Tiruchirapally,Singapore Changi Apt,TGW,TR,2669,TR,Tiger Airways,India,Singapore,International,...,0645,2013-01-01-0645,2013-01-01 06:45:00,2012-12-31 22:45:00+00:00,0,2012-12-31,22,45,2245,"[2245, 2250)"
552807,Singapore Changi Apt,Tokyo Narita Apt,DAL,DL,622,DL,Delta Air Lines,Singapore,Japan,International,...,0600,2013-01-01-0600,2013-01-01 06:00:00,2012-12-31 22:00:00+00:00,0,2012-12-31,22,0,220,"[220, 225)"
153998,Dhaka,Singapore Changi Apt,TGW,TR,2657,TR,Tiger Airways,Bangladesh,Singapore,International,...,0300,2013-01-01-0300,2013-01-01 03:00:00,2012-12-31 19:00:00+00:00,0,2012-12-31,19,0,190,"[155, 200)"
480961,Singapore Changi Apt,Praya,SLK,MI,124,MI,SilkAir,Singapore,Indonesia,International,...,0750,2013-01-01-0750,2013-01-01 07:50:00,2012-12-31 23:50:00+00:00,0,2012-12-31,23,50,2350,"[2350, 2355)"
480999,Singapore Changi Apt,Yangon,SIA,SQ,998,SQ,Singapore Airlines,Singapore,Myanmar,International,...,0755,2013-01-01-0755,2013-01-01 07:55:00,2012-12-31 23:55:00+00:00,0,2012-12-31,23,55,2355,"[2355, 2400)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107720,Singapore Changi Apt,Male,SLK,MI,482,MI,SilkAir,Singapore,Maldives,International,...,1005,2019-12-31-1005,2019-12-31 10:05:00,2019-12-31 02:05:00+00:00,1,2019-12-31,2,5,25,"[25, 30)"
671280,Bangkok Suvarnabhumi International Apt,Singapore Changi Apt,TGW,TR,617,TR,Scoot,Thailand,Singapore,International,...,2340,2019-12-31-2340,2019-12-31 23:40:00,2019-12-31 15:40:00+00:00,1,2019-12-31,15,40,1540,"[1540, 1545)"
516852,Singapore Changi Apt,Jakarta Soekarno-Hatta Apt,BTK,ID,7154,ID,Batik Air,Singapore,Indonesia,International,...,1120,2019-12-31-1120,2019-12-31 11:20:00,2019-12-31 03:20:00+00:00,1,2019-12-31,3,20,320,"[320, 325)"
606736,Singapore Changi Apt,Delhi,NaN,UK,116,UK,Vistara,Singapore,India,International,...,0930,2019-12-31-0930,2019-12-31 09:30:00,2019-12-31 01:30:00+00:00,1,2019-12-31,1,30,130,"[130, 135)"
43849,Singapore Changi Apt,Cairns,SLK,MI,813,MI,SilkAir,Singapore,Australia,International,...,0840,2019-12-31-0840,2019-12-31 08:40:00,2019-12-31 00:40:00+00:00,1,2019-12-31,0,40,40,"[40, 45)"

In [20]:
def timeslot_to_index():
    # convert requested timeslot to index timeslot (eg. (0, 5] is slot 1)
    start = 0
    end = 5
    interval = pd.Interval(left=start, right=end, closed='left')

    # eg. (0, 5] -> slot 1
    interval_slot_dict = {} 

    for slot in range(1, 289, 1):
        interval_slot_dict[interval] = slot
        if (end % 100 == 55):
            start = interval.left + 5
            end = interval.right + 45
        elif (start % 100 == 55):
            start = interval.left + 45
            end = interval.right + 5
        else:
            start = interval.left + 5
            end = interval.right + 5

        interval = pd.Interval(left=start, right=end, closed='left')
        
    return interval_slot_dict

In [21]:
def get_first_week_dates(movements_SIN):
    first_week = movements_SIN['Time_series_DT'].unique()[0:7]
    return first_week # array with 1st week's dates

In [22]:
def get_random_dates(movements_SIN, num_dates):
    all_dates = movements_SIN['Time_series_DT'].unique()
    dates = np.random.choice(all_dates, num_dates, replace=False)
    return dates # array with num_dates dates

In [23]:
def get_day_df(movements_SIN, date):
    SIN_2019_s_d1 = movements_SIN.loc[movements_SIN['Time_series_DT'] == date]
    return SIN_2019_s_d1 # df of a particualr day

In [24]:
def mov_per_slot(SIN_2019_s_d1, interval_slot_dict):
    timeslot_movements = SIN_2019_s_d1['Time slot'].value_counts(dropna=False)
    timeslot_movements = timeslot_movements.to_frame()
    timeslot_movements = timeslot_movements.rename({'Time slot': 'Movements'}, axis = 1)
    timeslot_movements = timeslot_movements.reset_index()
    
    timeslot_movements['Slot'] = ''
    for index, row in timeslot_movements.iterrows():
        row['Slot'] = interval_slot_dict.get(row['index'])
    
    timeslot_movements['Slot'] = timeslot_movements.apply(lambda row: interval_slot_dict.get(row['index']), axis=1)
    return timeslot_movements

In [25]:
# 1st selected date in array
interval_slot_dict = timeslot_to_index()
dates = get_random_dates(movements_SIN, 7) # change no. as required eg. 2000
#first_week = get_first_week_dates(movements_SIN)
date = dates[0]
SIN_2019_s_d1 = get_day_df(movements_SIN, date)
timeslot_movements = mov_per_slot(SIN_2019_s_d1, interval_slot_dict)
timeslot_movements

            index  Movements  Slot
0       [55, 100)         43    12
1      [155, 200)         22    24
2        [20, 25)         12     5
3      [110, 115)         12    15
4        [10, 15)         10     3
..            ...        ...   ...
283  [1910, 1915)          0   231
284  [2055, 2100)          0   252
285  [1515, 1520)          0   184
286    [600, 605)          0    73
287  [1855, 1900)          0   228

[288 rows x 3 columns]

In [26]:
dates

array([datetime.date(2015, 1, 30), datetime.date(2015, 6, 9),
       datetime.date(2014, 9, 25), datetime.date(2016, 3, 25),
       datetime.date(2018, 4, 12), datetime.date(2017, 4, 22),
       datetime.date(2019, 9, 12)], dtype=object)

In [27]:
SIN_2019_s_d1

,Dep Airport Name,Arr Airport Name,ICAO AL,IATA AL,Flight No,Carrier Code,Carrier Name,Dep IATA Country Name,Arr IATA Country Name,International/Domestic,...,Time_requested_format4,Time_requested_TS,TS_datetime_format,Time_requested_UTC,day_of_week,Time_series_DT,requested_utc_hour,requested_utc_minute,requested_utc,Time slot
464172,Singapore Changi Apt,Angeles/Mabalacat,CEB,5J,538,5J,Cebu Pacific Air,Singapore,Philippines,International,...,1645,2015-01-30-1645,2015-01-30 16:45:00,2015-01-30 08:45:00+00:00,4,2015-01-30,8,45,845,"[845, 850)"
482023,Singapore Changi Apt,Hong Kong International Apt,TGW,TR,2068,TR,Tigerair Singapore,Singapore,Hong Kong (sar) China,International,...,1700,2015-01-30-1700,2015-01-30 17:00:00,2015-01-30 09:00:00+00:00,4,2015-01-30,9,0,90,"[55, 100)"
112665,Jakarta Soekarno-Hatta Apt,Singapore Changi Apt,LNI,JT,160,JT,Lion Air,Indonesia,Singapore,International,...,1755,2015-01-30-1755,2015-01-30 17:55:00,2015-01-30 09:55:00+00:00,4,2015-01-30,9,55,955,"[955, 1000)"
531186,Phnom Penh,Singapore Changi Apt,SLK,MI,601,MI,SilkAir,Cambodia,Singapore,International,...,1240,2015-01-30-1240,2015-01-30 12:40:00,2015-01-30 04:40:00+00:00,4,2015-01-30,4,40,440,"[440, 445)"
580871,Singapore Changi Apt,Melbourne Airport,JST,JQ,8,JQ,Jetstar Airways,Singapore,Australia,International,...,2000,2015-01-30-2000,2015-01-30 20:00:00,2015-01-30 12:00:00+00:00,4,2015-01-30,12,0,120,"[120, 125)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483303,Singapore Changi Apt,Tokyo Intl (Haneda),SIA,SQ,634,SQ,Singapore Airlines,Singapore,Japan,International,...,1405,2015-01-30-1405,2015-01-30 14:05:00,2015-01-30 06:05:00+00:00,4,2015-01-30,6,5,65,"[55, 100)"
454442,Singapore Changi Apt,Guangzhou,SIA,SQ,852,SQ,Singapore Airlines,Singapore,China,International,...,2025,2015-01-30-2025,2015-01-30 20:25:00,2015-01-30 12:25:00+00:00,4,2015-01-30,12,25,1225,"[1225, 1230)"
488541,Singapore Changi Apt,Hong Kong International Apt,CPA,CX,716,CX,Cathay Pacific Airways,Singapore,Hong Kong (sar) China,International,...,1815,2015-01-30-1815,2015-01-30 18:15:00,2015-01-30 10:15:00+00:00,4,2015-01-30,10,15,1015,"[1015, 1020)"
496961,Singapore Changi Apt,Siem Reap,JSA,3K,601,3K,Jetstar Asia,Singapore,Cambodia,International,...,1355,2015-01-30-1355,2015-01-30 13:55:00,2015-01-30 05:55:00+00:00,4,2015-01-30,5,55,555,"[555, 600)"
488554,Singapore Changi Apt,Hong Kong International Apt,CPA,CX,734,CX,Cathay Pacific Airways,Singapore,Hong Kong (sar) China,International,...,1635,2015-01-30-1635,2015-01-30 16:35:00,2015-01-30 08:35:00+00:00,4,2015-01-30,8,35,835,"[835, 840)"

In [28]:
SIN_2019_s_d1 = SIN_2019_s_d1.reset_index()

In [29]:
SIN_2019_s_d1['Slot'] = SIN_2019_s_d1.apply(lambda row: interval_slot_dict.get(row['Time slot']), axis=1)
SIN_2019_s_d1['Slot'] = SIN_2019_s_d1['Slot'].round().astype('Int64')
SIN_2019_s_d1

,index,Dep Airport Name,Arr Airport Name,ICAO AL,IATA AL,Flight No,Carrier Code,Carrier Name,Dep IATA Country Name,Arr IATA Country Name,...,Time_requested_TS,TS_datetime_format,Time_requested_UTC,day_of_week,Time_series_DT,requested_utc_hour,requested_utc_minute,requested_utc,Time slot,Slot
0,464172,Singapore Changi Apt,Angeles/Mabalacat,CEB,5J,538,5J,Cebu Pacific Air,Singapore,Philippines,...,2015-01-30-1645,2015-01-30 16:45:00,2015-01-30 08:45:00+00:00,4,2015-01-30,8,45,845,"[845, 850)",106
1,482023,Singapore Changi Apt,Hong Kong International Apt,TGW,TR,2068,TR,Tigerair Singapore,Singapore,Hong Kong (sar) China,...,2015-01-30-1700,2015-01-30 17:00:00,2015-01-30 09:00:00+00:00,4,2015-01-30,9,0,90,"[55, 100)",12
2,112665,Jakarta Soekarno-Hatta Apt,Singapore Changi Apt,LNI,JT,160,JT,Lion Air,Indonesia,Singapore,...,2015-01-30-1755,2015-01-30 17:55:00,2015-01-30 09:55:00+00:00,4,2015-01-30,9,55,955,"[955, 1000)",120
3,531186,Phnom Penh,Singapore Changi Apt,SLK,MI,601,MI,SilkAir,Cambodia,Singapore,...,2015-01-30-1240,2015-01-30 12:40:00,2015-01-30 04:40:00+00:00,4,2015-01-30,4,40,440,"[440, 445)",57
4,580871,Singapore Changi Apt,Melbourne Airport,JST,JQ,8,JQ,Jetstar Airways,Singapore,Australia,...,2015-01-30-2000,2015-01-30 20:00:00,2015-01-30 12:00:00+00:00,4,2015-01-30,12,0,120,"[120, 125)",17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
920,483303,Singapore Changi Apt,Tokyo Intl (Haneda),SIA,SQ,634,SQ,Singapore Airlines,Singapore,Japan,...,2015-01-30-1405,2015-01-30 14:05:00,2015-01-30 06:05:00+00:00,4,2015-01-30,6,5,65,"[55, 100)",12
921,454442,Singapore Changi Apt,Guangzhou,SIA,SQ,852,SQ,Singapore Airlines,Singapore,China,...,2015-01-30-2025,2015-01-30 20:25:00,2015-01-30 12:25:00+00:00,4,2015-01-30,12,25,1225,"[1225, 1230)",150
922,488541,Singapore Changi Apt,Hong Kong International Apt,CPA,CX,716,CX,Cathay Pacific Airways,Singapore,Hong Kong (sar) China,...,2015-01-30-1815,2015-01-30 18:15:00,2015-01-30 10:15:00+00:00,4,2015-01-30,10,15,1015,"[1015, 1020)",124
923,496961,Singapore Changi Apt,Siem Reap,JSA,3K,601,3K,Jetstar Asia,Singapore,Cambodia,...,2015-01-30-1355,2015-01-30 13:55:00,2015-01-30 05:55:00+00:00,4,2015-01-30,5,55,555,"[555, 600)",72
924,488554,Singapore Changi Apt,Hong Kong International Apt,CPA,CX,734,CX,Cathay Pacific Airways,Singapore,Hong Kong (sar) China,...,2015-01-30-1635,2015-01-30 16:35:00,2015-01-30 08:35:00+00:00,4,2015-01-30,8,35,835,"[835, 840)",104

In [30]:
def one_hot_encode_airport(airport, num_airports):
    encoding = np.zeros(num_airports)
    encoding[airport] = 1
    return encoding

def use_scenario(SIN_2019_s_d1, num_airports):
    
    number_of_requests = len(SIN_2019_s_d1.index)
    #ts_72 = get_truncated_normal(mean=72, sd=12, low=0, upp=287).rvs(int(round(number_of_requests/2)))
    #ts_72 = np.round(ts_72)

    #ts_216 = get_truncated_normal(mean=216, sd=12, low=0, upp=287).rvs(int(round(number_of_requests/2)))
    #ts_216 = np.round(ts_216)

    #ts_dep = np.concatenate((ts_72, ts_216))
    #ts_dep = ts_dep.astype(int)
    ts_dep = SIN_2019_s_d1['Slot'].to_numpy() 

    #Generate index for requests:
    #index = np.array(list(range(number_of_requests)))
    index = SIN_2019_s_d1.index.to_numpy()

    origin_airport = np.empty(shape=(number_of_requests,), dtype='object')
    
    for i in range(number_of_requests):
        #Generate origin (0 and 1 are two considered origin airports, 2 represent other airports, encoded in one-hot vector):
        _org_airport = one_hot_encode_airport(0, num_airports)
        _org_airport_list = _org_airport.tolist()
        origin_airport[i] = _org_airport_list
       
    # Define requests_full as dtype object
    # requests_full = np.stack((index, ts_dep, start_date_dep, num_of_weeks, date_seq_dep, origin_airport, destination_airport, fly_time, status_cap_dep, ts_arv, start_date_arv, date_seq_arv, status_cap_arv), axis=1)
    num_entries = len(index)  # Given that 'index' is defined using np.array(list(range(number_of_requests)))
    # Create an empty array of the desired shape with dtype=object
    requests_full = np.empty((num_entries, 3), dtype=object)
   
    data = [index, ts_dep, origin_airport]
    for i, column_data in enumerate(data):
        requests_full[:, i] = column_data

    return requests_full, number_of_requests

In [31]:
num_airports = 1
use_scenario(SIN_2019_s_d1, num_airports)

(array([[0, 106, list([1.0])],
        [1, 12, list([1.0])],
        [2, 120, list([1.0])],
        ...,
        [922, 124, list([1.0])],
        [923, 72, list([1.0])],
        [924, 104, list([1.0])]], dtype=object),
 925)

In [32]:
interval_slot_dict = timeslot_to_index()
num_airports = 1
scenario_list = []

for date in dates:
    SIN_2019_s_d1 = get_day_df(movements_SIN, date)
    SIN_2019_s_d1 = SIN_2019_s_d1.reset_index()
    
    SIN_2019_s_d1['Slot'] = SIN_2019_s_d1.apply(lambda row: interval_slot_dict.get(row['Time slot']), axis=1)
    SIN_2019_s_d1['Slot'] = SIN_2019_s_d1['Slot'].round().astype('Int64')
    
    scenario = use_scenario(SIN_2019_s_d1, num_airports)
    scenario_list.append(scenario)

In [33]:
scenario_list

[(array([[0, 106, list([1.0])],
         [1, 12, list([1.0])],
         [2, 120, list([1.0])],
         ...,
         [922, 124, list([1.0])],
         [923, 72, list([1.0])],
         [924, 104, list([1.0])]], dtype=object),
  925),
 (array([[0, 137, list([1.0])],
         [1, 138, list([1.0])],
         [2, 196, list([1.0])],
         ...,
         [864, 176, list([1.0])],
         [865, 213, list([1.0])],
         [866, 24, list([1.0])]], dtype=object),
  867),
 (array([[0, 119, list([1.0])],
         [1, 101, list([1.0])],
         [2, 59, list([1.0])],
         ...,
         [836, 17, list([1.0])],
         [837, 69, list([1.0])],
         [838, 147, list([1.0])]], dtype=object),
  839),
 (array([[0, 87, list([1.0])],
         [1, 117, list([1.0])],
         [2, 137, list([1.0])],
         ...,
         [965, 35, list([1.0])],
         [966, 100, list([1.0])],
         [967, 175, list([1.0])]], dtype=object),
  968),
 (array([[0, 130, list([1.0])],
         [1, 275, list([1.0])],
         [2, 23, list([1.0])],
         ...,
         [1024, 40, list([1.0])],
         [1025, 147, list([1.0])],
         [1026, 126, list([1.0])]], dtype=object),
  1027),
 (array([[0, 287, list([1.0])],
         [1, 1, list([1.0])],
         [2, 176, list([1.0])],
         ...,
         [962, 114, list([1.0])],
         [963, 12, list([1.0])],
         [964, 31, list([1.0])]], dtype=object),
  965),
 (array([[0, 285, list([1.0])],
         [1, 12, list([1.0])],
         [2, 267, list([1.0])],
         ...,
         [1003, 222, list([1.0])],
         [1004, 6, list([1.0])],
         [1005, 87, list([1.0])]], dtype=object),
  1006)]